In [1]:
import tensorflow as tf 
print(tf.__version__)
print(tf.test.is_built_with_cuda())
print(tf.test.is_built_with_gpu_support)

2.5.0
True
<function is_built_with_gpu_support at 0x000002020B380E50>

In [2]:
import pandas as pd
dataset=pd.read_csv('anik.csv', na_values='?', header=None, skipinitialspace=True)
dataset

          0        1        2          3   4              5           6
0      RMSD     Area       ED     Energy  SS  ResidueLength  PairNumber
1         3  4722.92  4019.64  -1.60E+03  13             79         317
2         2  4059.12  2191.03   -1146.08  20             54         165
3         2  4773.56  2787.99   -1263.38  46             67         224
4         4  8271.27  9545.98   -2848.93  26            138         554
...     ...      ...      ...        ...  ..            ...         ...
16378     4  9280.68    11417   -3021.64  36            156         654
16379     3  8479.69  9455.54   -2932.85  17            138         554
16380     2  8872.53  27449.9  -2.87E+03  33            156        1364
16381     4  7738.99  26466.4   -2920.24  97            156        1521
16382     3  9368.34  39149.1  -2.97E+03  21            196        1885

[16383 rows x 7 columns]

In [3]:
dataset.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
dtype: int64

In [4]:
columns=[0,1,2,3,4,5,6]

dataset=pd.DataFrame(dataset)
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in columns:
    dataset[i]=le.fit_transform(dataset[i])

In [5]:
cols=[1,3,4]
for i in cols:
    dataset[i]=le.fit_transform(dataset[i])

In [6]:
dataset.head()

   0      1      2      3    4    5     6
0  6  16009  16137  11529  341  652  2234
1  3   8499   9304    119   35  599  1023
2  2   8128   5199    772  113  444   475
3  2   8537   6734   1210  277  542   725
4  4  12871  15855   4537  174   38  1586

In [7]:
target=dataset[6]
data=dataset.drop(columns=[6])

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(data, target, test_size=0.25)

In [9]:
from sklearn.svm import SVC
svc=SVC()
svc.fit(x_train, y_train)

SVC()

In [10]:
from sklearn.metrics import accuracy_score

In [11]:
pred_train=svc.predict(x_train)

print(accuracy_score(pred_train, y_train))

0.4766826727435501

In [ ]:
pred_test=svc.predict(x_test)

print(accuracy_score(pred_test, y_test))